<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>IntelBluetoothFirmware</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.zxystd.IntelBluetoothFirmware</string>
			<key>IOClass</key>
			<string>IntelBluetoothFirmware</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>30209</integer>
			<key>idVendor</key>
			<integer>5263</integer>
		</dict>
		<key>IntelBluetoothFirmware3165ngw</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.zxystd.IntelBluetoothFirmware</string>
			<key>IOClass</key>
			<string>IntelBluetoothFirmware</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>2602</integer>
			<key>idVendor</key>
			<integer>32903</integer>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2019 zxystd. All rights reserved.</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOACPIFamily</key>
		<string>1.0.0</string>
		<key>com.apple.iokit.IOBluetoothFamily</key>
		<string>2.0.0</string>
		<key>com.apple.iokit.IOBluetoothHostControllerTransport</key>
		<string>1.0.0</string>
		<key>com.apple.iokit.IOBluetoothHostControllerUSBTransport</key>
		<string>1.0.0</string>
		<key>com.apple.iokit.IOUSBHostFamily</key>
		<string>1.2</string>
		<key>com.apple.kpi.bsd</key>
		<string>19.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>19.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>19.0</string>
		<key>com.apple.kpi.mach</key>
		<string>19.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>19.0</string>
	</dict>
</dict>
</plist>
